name: Publish Docker image (latest)

on:
  push:
    branches:
      - 'master'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push (generator)
        id: docker_build_generator
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: rhythmsofresistance/sheetbook-generator:latest
          file: Dockerfile-generator
      -
        name: Build and push (server)
        id: docker_build_server
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: rhythmsofresistance/sheetbook-server:latest
          file: Dockerfile-server